## Working with Real-World Data Sets

[Chicago Socioeconomic Indicators dataset](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

[Chicago Public Schools dataset](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

[Chicago Crime dataset](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

All three datasets have been loaded into an IBM Db2 cloud database.

In [7]:
# load sql module
%load_ext sql

In [8]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://fgl32023:25q97r4n99-mt9x2@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

####  1. Find the total number of crimes recorded in the CRIME table.

In [22]:
%sql select count(CASE_NUMBER) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

#### 2. List community areas with per capita income less than 11000.

In [23]:
%sql select community_area_name from CENSUS_DATA where per_capita_income < 11000;

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

#### 3. List all case numbers for crimes involving minors?

In [24]:
%sql select case_number from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884',), ('HK238408',)]

#### 4. List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [25]:
%%sql 
select CASE_NUMBER, DESCRIPTION, PRIMARY_TYPE
from CHICAGO_CRIME_DATA
where (PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION LIKE '%CHILD%');

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER', 'KIDNAPPING')]

#### 5. What kind of crimes were recorded at schools?

In [39]:
%%sql
select unique(primary_type), location_description 
from chicago_crime_data
where location_description like '%SCHOOL%';

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

#### 6. List the average safety score for all types of schools.

In [27]:
%%sql
select AVG(SAFETY_SCORE) as Average_Safety, "School_Type"
from CHICAGO_PUBLIC_SCHOOLS
GROUP BY "School_Type";

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.520383'), 'ES'),
 (Decimal('49.623529'), 'HS'),
 (Decimal('48.000000'), 'MS')]

#### 7. List 5 community areas with highest % of households below poverty line.

In [28]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
from CENSUS_DATA
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
limit 5;

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

#### 8. Which community area(number) is most crime prone?

In [36]:
%%sql
select count(CASE_NUMBER) as Number_of_Crimes, COMMUNITY_AREA_NUMBER
from CHICAGO_CRIME_DATA
group by COMMUNITY_AREA_NUMBER
order by count(CASE_NUMBER) DESC
LIMIT 1

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('43'), 25)]

#### 9. Use a sub-query to find the name of the community area with highest hardship index.

In [41]:
%%sql 
select community_area_number, community_area_name, hardship_index 
from CENSUS_DATA
where hardship_index in (select max(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(54, 'Riverdale', 98)]

#### 10. Use a sub-query to determine the Community Area Name with most number of crimes?

In [57]:
%%sql
select CENSUS_DATA.COMMUNITY_AREA_NUMBER, CENSUS_DATA.COMMUNITY_AREA_NAME
from CENSUS_DATA
where CENSUS_DATA.COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(CASE_NUMBER) DESC LIMIT 1)

 * ibm_db_sa://fgl32023:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, 'Austin')]